page-score {
    .title{
        text-align: center;
    }
    .bg {
        background: linear-gradient(to top, grey 0%, #fff 100%);
    }
    .button{
        width: 150px;
    }
    .ScoreText{
     color: white;
    }
    .primary{
        color: green;
    }

}